<main class="p w-screen h-screen flex">
    <aside class="bg-gray-200 w-[200px] rounded-2xl translate-x-[-200%] p-3 duration-300
    sm:translate-x-0 overflow-hidden whitespace-nowrap h-screen z-[100000]"
    #sidebar [class.collapse]="toggledSidebar">
        <span *ngIf="!toggledSidebar" [class.collapseBtn]="!toggledSidebar" (click)="toggleSidebar()" class="material-icons h-fit text-3xl cursor-pointer ml-[85%]">close</span>
        <app-sidebar class="flex flex-col h-full"></app-sidebar>
    </aside>
    <div *ngIf="!toggledSidebar" class="overlay"></div>
    <section class="grow flex flex-col md:ml-4">
        <span *ngIf="!toggledSidebar" class="pt-4"></span>
        <span *ngIf="toggledSidebar" out [class.collapseBtn]="!toggledSidebar" (click)="toggleSidebar()" class=" py-3 z-[999999] material-icons mt-1 ml-2 h-fit text-3xl cursor-pointer sticky top-0 left-1 bg-white w-full">menu</span>
        <div class="grow">
            <router-outlet></router-outlet>
        </div>
    </section>
</main>