aside {
    height: 100%;
    width: 300px;
    transform: translateX(0%);
}
.collapse {
    width: 0px;
    transform: translateX(-100%);
    padding: 0 !important;
}

@media (max-width: 500px) {
    aside {
        width: 80%;
        position: absolute;
    }
}