<main class="p-4 w-screen h-screen flex">
    <aside class="bg-gray-200 rounded-2xl w-0 translate-x-[-200%] p-0 sm:w-[200px]
    sm:translate-x-0 sm:p-3 duration-300 overflow-hidden whitespace-nowrap"
    #sidebar>
        <app-sidebar class="flex flex-col h-full"></app-sidebar>
    </aside>
    <span (click)="toggleSideBar()" class="material-icons h-fit text-3xl cursor-pointer">menu</span>
    <section class="grow">
        <app-main-page class="flex flex-row grow"></app-main-page>
    </section>
    <div class="">
        <router-outlet name="taskDetail"></router-outlet>
    </div>
    <div class="">
        <router-outlet name="hubhubdu"></router-outlet>
    </div>
</main>