aside {
    height: 100%;
    z-index: 999999999;
    transform: translateX(0%);
}
.collapse {
    width: 0px;
    transform: translateX(-100%);
    padding: 0 !important;
}
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 85%;
    display: none;
}

@media (max-width: 500px) {
    aside {
        width: 75% !important;
        position: fixed !important;
        top: 0;
        left: 0;
    }
    .overlay {
        display: block;
    }
}