<div class="register-container border shadow-2xl rounded-lg">
    <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
        <label for="username">Email</label>
        <input type="text" class="rounded-md" id="username" name="email" email ngModel required>
        
        <label for="password">Password</label>
        <input type="password" class="rounded-md" id="password" name="password" ngModel required minlength="6">
        
        <button [disabled]="!registerForm.valid" class="rounded-md disabled:opacity-50 disabled:cursor-not-allowed" type="submit">Register</button>
        <p class="text-zinc-600 text-sm font-medium mt-3 text-center">Already have an account? <a routerLink="/auth/login" class="hover:underline hover:font-semibold cursor-pointer">Sign In</a></p>
    </form>
</div>