<section class="p-4">
    @if (notes.length > 0) {
        @for (note of notes; track $index) {
            <div class="bg-blue-500 text-white p-2 m-2 rounded-md sm:text-sm cursor-pointer hover:bg-blue-600 hover:scale-95" (click)="openNote(note)">
                <p class="font-medium">{{ note.noteTitle }}</p>
                <p>{{ note.noteDescription }}</p>
            </div>
        }
    }
    <div class="bg-blue-100 p-2 m-2 rounded-md flex items-center justify-center cursor-pointer hover:bg-blue-200 hover:scale-y-95">
        <span class="material-icons text-6xl" (click)="addNewNote()">add</span>
    </div>
</section>
<div *ngIf="showOverlay" overlay class="fixed bg-gray-900 opacity-90  top-0 left-0 h-screen w-screen flex-col flex items-center justify-center gap-3 z-[99999999]">
    <div (click)="closeOverlay()" overlay class="fixed bg-gray-900 opacity-90  top-0 left-0 h-screen w-screen flex-col flex items-center justify-center gap-3"></div>
    <span class="material-icons text-6xl fixed top-3 right-3 text-white font-bold cursor-pointer" (click)="closeOverlay()">close</span>
    <form #noteForm="ngForm" (ngSubmit)="submitForm(noteForm)" class="flex flex-col gap-2 opacity-100">
        <input class="rounded-md w-[300px] p-2 border border-black focus:border-2 opacity-100 bg-white" type="text" id="input" name="noteTitle" ngModel placeholder="Title of your note" required>
        <textarea class="rounded-md w-[300px] p-2 border border-black focus:border-2" name="noteDescription" id="desc" cols="30" rows="10" ngModel placeholder="Your note" required=""></textarea>
        <div class="flex justify-center gap-3">
            <button [disabled]="noteForm.invalid" class="bg-blue-500 p-2 text-white rounded-md disabled:hover:scale-100 hover:scale-90 disabled:opacity-70 disabled:cursor-not-allowed font-medium"type="submit">Save</button>
            <button *ngIf="editMode" (click)="deleteNote()" class="bg-yellow-500 p-2 text-white rounded-md disabled:hover:scale-100 hover:scale-90 disabled:opacity-70 disabled:cursor-not-allowed font-medium"type="button">Delete</button>
        </div>
    </form>
</div>
<router-outlet></router-outlet>