<p class="text-xs font-bold mt-3 mb-2 text-gray-900">TASKS</p>
<ul class="font-medium text-zinc-600 ">
    <li class="p-1 ps-2 text-sm sm:cursor-default md:cursor-pointer hover:text-zinc-900" routerLinkActive="active"><a class="flex items-center pe-10" routerLink="/tasks/previous"> 
        <span class="material-icons text-base">keyboard_double_arrow_left</span>&nbsp; Previous
    </a></li>
    <li class="p-1 ps-2 text-sm sm:cursor-default md:cursor-pointer hover:text-zinc-900" routerLinkActive="active"><a class="flex items-center pe-10" routerLink="/tasks/upcoming"> 
        <span class="material-icons text-base">keyboard_double_arrow_right</span>&nbsp; Upcoming
    </a></li>
    <li class="p-1 ps-2 text-sm sm:cursor-default md:cursor-pointer hover:text-zinc-900" routerLinkActive="active"><a class="flex items-center pe-10" routerLink="/tasks/today">
        <span class="material-icons text-base">checklist</span>&nbsp; Today
    </a></li>
    <li class="p-1 ps-2 text-sm sm:cursor-default md:cursor-pointer hover:text-zinc-900" routerLinkActive="active"><a class="flex items-center pe-10" routerLink="/tasks/sticky-wall">
        <span class="material-icons text-base">sticky_note_2</span>&nbsp; Sticky Wall
    </a></li>
</ul>