<div class="form">
    <form>
        <div class="">
            <h3>Task: </h3>
            <span class="material-icons">close</span>
        </div>
        <div class="">
            <input placeholder="Title of your task" type="text" id="name">
            <textarea name="desc" id="desc" placeholder="Description" rows="10"></textarea>
            <div class="">
                <label for="select">List</label>
                <select name="list" id="select">
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                </select>
            </div>
        </div>
    </form>
</div>